html{
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column; 
  background-color:rgb(234, 235, 235);
}

.navbar {
  margin-bottom: 20px;
}

/* Container for packages */
.container {
  width: 80%;  /* Adjust container width as needed */
  margin: 0 auto;  /* Center the container horizontally */
  padding: 20px;  /* Add some padding for spacing */
  flex:1;
  
}
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}
.btn {
  margin-right: 10px;
  background-color: #7dbeed;
  color: azure;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-body .d-flex.justify-content-between {
  margin-top: 40px; /* Adjust this value as needed */
}

/* Card Styles */
.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
 
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide the overflow text */
  text-overflow: ellipsis; /* Add ellipsis at the end of the text */
  width: 100%; /* Adjust the width as needed */
}

.card-text {
  font-size: 0.9rem;
  color: #555;
  white-space: nowrap;     /* Prevents text from wrapping */
  overflow: hidden;        /* Hides any content that overflows the container */
  text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */
}


.card-text strong {
  color: #333;
}

/* Footer Styles */
footer.text-center.mt-5{
  background:white;
 text-align: center;
 max-height: 25rem;
 min-height: 15px;
 text-align: center; 
}


footer.text-center.mt-5 a {
  margin: 0 10px;
  color:#007bff;
  font-size: 24px;
  text-decoration: none;
}
footer.text-center.mt-5 a:hover {
  color: #007bff;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .card {
    margin-bottom: 20px;
  }
}
