{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */

/* Style buttons */
.form-container .btns {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-left: 43%;
    border-radius: 30px;
    margin-bottom: 2px;
  }
  
  /* Darker background on mouse-over */
  .btns:hover {
    background-color: RoyalBlue;
  }

  
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  
  right: 1px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-popup{
    bottom: 270px;
  }
  @media screen and (max-width: 768px) {
    .form-popup{
        bottom: 100px;
    }
  }

/* Add styles to the form container */
.form-container {
  min-width: 300px;
  padding: 1px;
  padding-top: 1px;
  background-color: white;
  color:black;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  display: block;
  margin:auto;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color:white;
  margin-top:1px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}